## 010_an_merge
### Merge and clean jeopardy data sources 
### James Wilson

In [242]:
# -*- coding: utf-8 -*-
import pandas as pd
import re

In [243]:
# Load Data
archive_df = pd.read_csv("../Data/jeopardy_archive_data.csv")
twitter_df = pd.read_csv("../Data/jeopardy_twitter_data.csv")

In [244]:
# Reformat Data
# Melt twitter data 
twitter_df = pd.melt(twitter_df, id_vars =['id', 'created_at', 'favorite_count', 'retweet_count', 'text',
       'game_info_flg', 'Date'], var_name="answer_number")

In [245]:
# Add "Answer" variable to twitter 
    #IMPORTANT - reverse order of answers for archive data to match how twitter account was organized
archive_df["answer_number"] = ""
archive_df['dt_indx'] = archive_df.groupby(['Date']).cumcount()+1
archive_df.loc[archive_df["dt_indx"]==1,"answer_number"] = "Answer3"
archive_df.loc[archive_df["dt_indx"]==2,"answer_number"] = "Answer2"
archive_df.loc[archive_df["dt_indx"]==3,"answer_number"] = "Answer1"

In [246]:
# Merge Data Files
jeopardy = pd.merge(archive_df,twitter_df, on=['Date','answer_number'])
jeopardy.head(10)

,Nickname,Player Details,Final Score,Show Info,Full Name,Occupation,Hometown,Streak,Cash Winnings,Archive Info,Date,answer_number,dt_indx,id,created_at,favorite_count,retweet_count,text,game_info_flg,value
0,Jason,"Jason Zuffranieri, a math teacher from Albuque...","$27,600","J! Archive - Show #8045, aired 2019-07-26",Jason Zuffranieri,a math teacher,"Albuquerque, New Mexico",NaN,NaN,J! Archive - Show #8045,2019-07-26,Answer3,1,1154934362737205253,2019-07-27 01:59:44,23,2,"7/26/19:\n""My medical school interview was wit...",True,"""A movie editor in France has a similar name t..."
1,Maggie,"Maggie Lehrman, an editor and writer from Broo...",$0,"J! Archive - Show #8045, aired 2019-07-26",Maggie Lehrman,an editor and writer,"Brooklyn, New York",NaN,NaN,J! Archive - Show #8045,2019-07-26,Answer2,2,1154934362737205253,2019-07-27 01:59:44,23,2,"7/26/19:\n""My medical school interview was wit...",True,"""The children's' book industry is phenomenal."""
2,Michael,"Michael Riggs, an educational therapist from T...",$2,"J! Archive - Show #8045, aired 2019-07-26",Michael Riggs,an educational therapist,"Tustin, California",NaN,NaN,J! Archive - Show #8045,2019-07-26,Answer1,3,1154934362737205253,2019-07-27 01:59:44,23,2,"7/26/19:\n""My medical school interview was wit...",True,"""My medical school interview was with a @Jeopa..."
3,Jason,"Jason Zuffranieri, a math teacher from Albuque...","$4,400","J! Archive - Show #8044, aired 2019-07-25",Jason Zuffranieri,a math teacher,"Albuquerque, New Mexico",NaN,NaN,J! Archive - Show #8044,2019-07-25,Answer3,1,1154567652465106944,2019-07-26 01:42:33,6,1,"7/25/19:\n""I like cooking with my 2-year-old s...",True,"""It took me seconds to 'win' a game of anti-ch..."
4,Eric,"Eric Kaplan, a retired OB-GYN physician from L...",$0,"J! Archive - Show #8044, aired 2019-07-25",Eric Kaplan,a retired OB-GYN physician,"Long Beach, California",NaN,NaN,J! Archive - Show #8044,2019-07-25,Answer2,2,1154567652465106944,2019-07-26 01:42:33,6,1,"7/25/19:\n""I like cooking with my 2-year-old s...",True,"""Chuck Norris' aunt thought I looked justl ike..."
5,Shari,"Shari Meyer, a high school English teacher fro...",$0,"J! Archive - Show #8044, aired 2019-07-25",Shari Meyer,a high school English teacher,"Somerville, Massachusetts",NaN,NaN,J! Archive - Show #8044,2019-07-25,Answer1,3,1154567652465106944,2019-07-26 01:42:33,6,1,"7/25/19:\n""I like cooking with my 2-year-old s...",True,"""I like cooking with my 2-year-old son."""
6,Jason,"Jason Zuffranieri, a math teacher from Albuque...","$30,000","J! Archive - Show #8043, aired 2019-07-24",Jason Zuffranieri,a math teacher,"Albuquerque, New Mexico",NaN,NaN,J! Archive - Show #8043,2019-07-24,Answer3,1,1154498659637051393,2019-07-25 21:08:24,8,3,7/24/19:\n“I played drums in a rhythmic troupe...,True,"“In Mexico, I was mistaken for Nicolas Cage.”"
7,Michelle,"Michelle Bruck, an attorney from Levittown, Pe...","$3,000","J! Archive - Show #8043, aired 2019-07-24",Michelle Bruck,an attorney,"Levittown, Pennsylvania",NaN,NaN,J! Archive - Show #8043,2019-07-24,Answer2,2,1154498659637051393,2019-07-25 21:08:24,8,3,7/24/19:\n“I played drums in a rhythmic troupe...,True,“I had to memorize the Gettysburg Address.”
8,Corin,"Corin Purifoy, a fiber artist from Milwaukee, ...","$6,100","J! Archive - Show #8043, aired 2019-07-24",Corin Purifoy,a fiber artist,"Milwaukee, Wisconsin",NaN,NaN,J! Archive - Show #8043,2019-07-24,Answer1,3,1154498659637051393,2019-07-25 21:08:24,8,3,7/24/19:\n“I played drums in a rhythmic troupe...,True,“I played drums in a rhythmic troupe.”
9,Jason,"Jason Zuffranieri, a math teacher from Albuque...","$12,400","J! Archive - Show #8042, aired 2019-07-23",Jason Zuffranieri,a math teacher,"Albuquerque, New Mexico",NaN,NaN,J! Archive - Show #8042,2019-07-23,Answer3,1,1154153044772306945,2019-07-24 22:15:03,5,0,"7/23/19:\n""I like telling dad jokes.""\n""I run ...",True,"""My stuffed manatee is a comfort animal in my ..."

In [247]:
import gender_guesser.detector as gender
gd = gender.Detector()
jeopardy['Gender'] = jeopardy['Nickname'].apply(gd.get_gender)

In [248]:
# Clean Data 
# clean money column
jeopardy['Final Score'] = jeopardy['Final Score'].str.replace(',', '')
jeopardy['Final Score'] = jeopardy['Final Score'].str.replace('$', '')
jeopardy['Final Score'] = jeopardy['Final Score'].astype(int)
        
# rename value column
jeopardy.rename(columns = {'value':'anecdote'}, inplace = True) 
jeopardy['anecdote'] = jeopardy['anecdote'].str.replace('"', '')

In [249]:
jeopardy_df = jeopardy.iloc[:,[4,2,5,6,10,11,12,15,16,19,20]]

In [250]:
# clean general clean_text 
# replace "&amp;" with "and" 
jeopardy_df['clean_text'] = jeopardy_df.loc[:,'anecdote'].str.replace('&amp;','and')

C:\Users\jwilson2\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [251]:
# remove " " - REVIEW THIS STEP 

jeopardy_df.loc[:,'clean_text'] = jeopardy_df.loc[:,'clean_text'].str.replace('"','')
jeopardy_df.loc[:,'clean_text'] = jeopardy_df.loc[:,'clean_text'].str.replace("'",'')
jeopardy_df.loc[:,'clean_text'] = jeopardy_df.loc[:,'clean_text'].str.lstrip('\"')

# fix jeopardy exclamation mark
jeopardy_df.loc[:,'clean_text'] = jeopardy_df.loc[:,'clean_text'].str.replace('Jeopardy!','Jeopardy')
# general misspelling
jeopardy_df.loc[:,'clean_text'] = jeopardy_df.loc[:,'clean_text'].str.replace('justl ike','just like')

In [252]:
# rename individuals with @ signs 
# Function to clean the names 
def Clean_names(jprdy): 
    if re.search('@', jprdy): 
        sentence = re.sub( r"([A-Z])", r" \1", jprdy).split()
        jprdy = ' '.join(sentence)
        return jprdy
    else:
        return jprdy

# Updated the clean clean_text columns 
jeopardy_df.loc[:,'clean_text'] = jeopardy_df.loc[:,'clean_text'].apply(Clean_names) 

# remove '@'
jeopardy_df.loc[:,'clean_text'] = jeopardy_df.loc[:,'clean_text'].str.replace('@ ','')

In [253]:
# Clean hometown into city and state
jeopardy_df.loc[:,'city'] = ""
jeopardy_df.loc[:,'city'] = jeopardy_df.loc[:,'Hometown'].str.split(',',expand=True)[0]
jeopardy_df.loc[:,'city'] = jeopardy_df.loc[:,'city'].str.strip()

jeopardy_df.loc[:,'state'] = ""
jeopardy_df.loc[:,'state'] = jeopardy_df.loc[:,'Hometown'].str.split(',',expand=True)[1]
jeopardy_df.loc[:,'state'] = jeopardy_df.loc[:,'state'].str.strip()

In [254]:
# map gross winnings to each player 
rev = jeopardy_df.groupby('Full Name')['Final Score'].transform(sum)
jeopardy_df['gross_winnings'] = jeopardy_df.groupby('Full Name')['Final Score'].transform(sum)

C:\Users\jwilson2\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [255]:
rev

0       115000
1            0
2            2
3       115000
4            0
         ...
3763     31999
3764     10800
3765      7000
3766     31400
3767     13000
Name: Final Score, Length: 3768, dtype: int32

In [256]:
jeopardy_df.shape

(3768, 15)

In [257]:
# Incorporate us cities geo information 

uscities = pd.read_csv("../Data/uscities.csv")
uscities.head()
uscities2 = uscities.iloc[:,[0,2,3,6,7,8,9,10,11,16]]
uscities2.head()

,city,state_id,state_name,county_fips_all,county_name_all,lat,lng,population,density,ranking
0,South Creek,WA,Washington,53053,Pierce,46.9994,-122.3921,2500.0,125.0,3
1,Roslyn,WA,Washington,53037,Kittitas,47.2507,-121.0989,947.0,84.0,3
2,Sprague,WA,Washington,53043,Lincoln,47.3048,-117.9713,441.0,163.0,3
3,Gig Harbor,WA,Washington,53053,Pierce,47.3352,-122.5968,9507.0,622.0,3
4,Lake Cassidy,WA,Washington,53061,Snohomish,48.0639,-122.0920,3591.0,131.0,3

In [258]:
# remove non state values 
jeopardy_df = pd.merge(jeopardy_df,uscities2, left_on=['city','state'], right_on = ["city","state_name"])

In [259]:
jeopardy_df.shape

(3150, 24)

In [260]:
jeopardy_df.head()

,Full Name,Final Score,Occupation,Hometown,Date,answer_number,dt_indx,favorite_count,retweet_count,anecdote,...,gross_winnings,state_id,state_name,county_fips_all,county_name_all,lat,lng,population,density,ranking
0,Jason Zuffranieri,27600,a math teacher,"Albuquerque, New Mexico",2019-07-26,Answer3,1,23,2,A movie editor in France has a similar name to...,...,115000,NM,New Mexico,35001,Bernalillo,35.1053,-106.6464,758523.0,1151.0,2
1,Jason Zuffranieri,4400,a math teacher,"Albuquerque, New Mexico",2019-07-25,Answer3,1,6,1,It took me seconds to 'win' a game of anti-chess.,...,115000,NM,New Mexico,35001,Bernalillo,35.1053,-106.6464,758523.0,1151.0,2
2,Jason Zuffranieri,30000,a math teacher,"Albuquerque, New Mexico",2019-07-24,Answer3,1,8,3,"“In Mexico, I was mistaken for Nicolas Cage.”",...,115000,NM,New Mexico,35001,Bernalillo,35.1053,-106.6464,758523.0,1151.0,2
3,Jason Zuffranieri,12400,a math teacher,"Albuquerque, New Mexico",2019-07-23,Answer3,1,5,0,My stuffed manatee is a comfort animal in my c...,...,115000,NM,New Mexico,35001,Bernalillo,35.1053,-106.6464,758523.0,1151.0,2
4,Jason Zuffranieri,18600,a math teacher,"Albuquerque, New Mexico",2019-07-22,Answer3,1,6,0,I travel around the world playing Sudoku.,...,115000,NM,New Mexico,35001,Bernalillo,35.1053,-106.6464,758523.0,1151.0,2

In [261]:
jeopardy_df.to_csv('../Data/clean_jeopardy_data.csv', index = None, header=True) #Don't forget to add '.csv' at the end of the path