## 020_gen_stats
### General Statistics and Graphics 
### James Wilson

In [5]:
# -*- coding: utf-8 -*-
import pandas as pd

In [6]:
# Load Data
jeopardy_df = pd.read_csv("../Data/clean_jeopardy_data.csv")

In [7]:
# General Analysis
contestants = jeopardy_df.groupby('Full Name').agg(['count'])
jobs = jeopardy_df.groupby('Occupation')['Full Name'].nunique()
town = jeopardy_df.groupby('Hometown')['Full Name'].nunique()

Full Name
Aaron Benor      1
Aaron Ellis      1
Aaron Lichtig    1
Aaron Rodgers    1
Abbie Micucci    1
                ..
Zia Jones        1
Ziad Ali         1
Zlatan Hodzic    1
Zoey Orol        1
Zorn Pink        1
Name: Occupation, Length: 2379, dtype: int64

In [ ]:
# Investigate
jeopardy_df.groupby('Full Name')['Occupation'].nunique()

,Final Score,Occupation,Hometown,Date,answer_number,dt_indx,favorite_count,retweet_count,anecdote
,count,count,count,count,count,count,count,count,count
Full Name,,,,,,,,,
Aaron Benor,1,1,1,1,1,1,1,1,1
Aaron Ellis,1,1,1,1,1,1,1,1,1
Aaron Lichtig,2,2,2,2,2,2,2,2,2
Aaron Rodgers,1,1,1,1,1,1,1,1,1
Abbie Micucci,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...
Zia Jones,1,1,1,1,1,1,1,1,1
Ziad Ali,2,2,2,2,2,2,2,2,2
Zlatan Hodzic,1,1,1,1,1,1,1,1,1
Zoey Orol,2,2,2,2,2,2,2,2,2
Zorn Pink,2,2,2,2,2,2,2,2,2