## 020_gen_stats
### General Statistics and Graphics 
### James Wilson

In [11]:
# -*- coding: utf-8 -*-
import pandas as pd

In [12]:
# Load Data
jeopardy_df = pd.read_csv("../Data/clean_jeopardy_data.csv")

In [13]:
# General Analysis
contestants = jeopardy_df.groupby('Full Name').agg(['count'])
jobs = jeopardy_df.groupby('Occupation')['Full Name'].nunique()
town = jeopardy_df.groupby('Hometown')['Full Name'].nunique()

In [14]:
# Investigate
jeopardy_df.groupby('Full Name')['Occupation'].nunique()

Full Name
Aaron Benor      1
Aaron Ellis      1
Aaron Lichtig    1
Abby Roughton    1
Abigail Myers    1
                ..
Zelda Pulliam    1
Zia Jones        1
Ziad Ali         1
Zlatan Hodzic    1
Zoey Orol        1
Name: Occupation, Length: 1971, dtype: int64

In [29]:
# jeopardy_df.state.unique() - 50 states 
jeopardy_df.state.value_counts()

California        382
New York          316
Illinois          217
Texas             154
Pennsylvania      150
Virginia          134
Ohio              129
Georgia           123
Maryland          119
Florida           112
Colorado          104
Michigan           95
Massachusetts      91
Washington         87
North Carolina     83
New Jersey         63
Tennessee          60
Missouri           57
Indiana            55
Oregon             49
Nevada             41
Minnesota          40
Alabama            37
South Carolina     34
Arizona            32
Kentucky           32
Wisconsin          32
Utah               31
Louisiana          31
Arkansas           30
Connecticut        27
Oklahoma           26
Iowa               25
Nebraska           21
Delaware           21
Kansas             15
New Mexico         14
New Hampshire      13
Rhode Island       10
Idaho               9
Mississippi         9
West Virginia       8
Maine               8
Wyoming             6
South Dakota        6
Alaska              6
Vermont             2
Hawaii              2
Montana             1
North Dakota        1
Name: state, dtype: int64

In [36]:
import gender_guesser.detector as gender

d = gender.Detector()
print(d.get_gender(jeopardy_df['Full Name'].str))

unknown

In [16]:
jeopardy_df.describe().astype(int)

,Final Score,dt_indx,favorite_count,retweet_count,gross_winnings,lat,lng,population,density,ranking
count,3150,3150,3150,3150,3150,3150,3150,3150,3150,3150
mean,12124,1,15,4,59652,38,-90,2279453,2524,1
std,11337,0,39,6,201798,4,16,4553658,2994,0
min,0,1,0,0,0,19,-157,359,18,1
25%,3400,1,7,1,7000,34,-97,37080,896,1
50%,10399,2,12,3,20400,39,-85,191278,1469,2
75%,18487,3,19,5,52075,41,-77,2073045,2917,3
max,131127,3,1487,170,2009595,64,-67,19354922,17026,3

In [17]:
#replace = jeopardy_df[~jeopardy_df.state.str.contains('ABC News|Daily News|Heroes|Italy', case=False)].state.unique().tolist()
#jeopardy_df.loc[:,'state'] = jeopardy_df.state.replace(to_replace=replace, value='None')
#jeopardy_df.country.value_counts()

In [18]:
## CLEAN JOBS 
# remove filler words 
#

In [19]:
#from sklearn.feature_extraction.text import CountVectorizer
#vec = CountVectorizer(binary=True)
#vec.fit(jeopardy_df.Occupation.str)
#print([w for w in sorted(vec.vocabulary_.keys())])

In [20]:
# jobs & locations text generated ?

In [21]:
# fix any issue with states / cites 
# map cities states 
# review streaks of contestants 
# predict winnings based on data - run corr on data !!!!

In [22]:
import numpy as np
from sklearn.linear_model import LinearRegression

In [23]:
jeopardy_df_cln = jeopardy_df.dropna()

In [24]:
X = jeopardy_df_cln.iloc[:, 1].values.reshape(-1, 1)  # values converts it into a numpy array
Y = jeopardy_df_cln.loc[:, ['city','state','favorite_count','retweet_count']].values.reshape(-1, 1)  # -1 means that calculate the dimension of rows, but have 1 column
linear_regressor = LinearRegression()  # create object for the class
linear_regressor.fit(X, Y)  # perform linear regression

ValueError: could not convert string to float: 'Albuquerque'

In [ ]:
model = LinearRegression().fit(x, y)

In [ ]:
jeopardy_df.head()