## 020_gen_stats
### General Statistics and Graphics 
### James Wilson

In [1]:
# -*- coding: utf-8 -*-
import pandas as pd

In [2]:
# Load Data
jeopardy_df = pd.read_csv("../Data/clean_jeopardy_data.csv")

In [3]:
# General Analysis
contestants = jeopardy_df.groupby('Full Name').agg(['count'])
jobs = jeopardy_df.groupby('Occupation')['Full Name'].nunique()
town = jeopardy_df.groupby('Hometown')['Full Name'].nunique()

In [4]:
# Investigate
jeopardy_df.groupby('Full Name')['Occupation'].nunique()

Full Name
Aaron Benor      1
Aaron Ellis      1
Aaron Lichtig    1
Aaron Rodgers    1
Abbie Micucci    1
                ..
Zia Jones        1
Ziad Ali         1
Zlatan Hodzic    1
Zoey Orol        1
Zorn Pink        1
Name: Occupation, Length: 2379, dtype: int64

In [5]:
## CLEAN JOBS 
# remove filler words 
#

Occupation
a 10th and 11th grade English teacher          1
a 10th grade English teacher                   1
a 10th grade English teacher originally        1
a 10th grade chemistry teacher                 1
a 12-year-old                                  6
                                              ..
an owner of a drug & DNA testing laboratory    1
an unemployed bartender                        1
an urban planner                               1
an utility locator                             1
the reigning NFL MVP                           1
Name: Full Name, Length: 1539, dtype: int64

In [ ]:
# jobs & locations text generated ?

In [ ]:
# fix any issue with states / cites 
# map cities states 
# review streaks of contestants 
# predict winnings based on data - run corr on data !!!!