In [1]:
# -*- coding: utf-8 -*-
import pandas as pd
import numpy as np
import re
import nltk
from nltk.corpus import stopwords

In [2]:
# Load Data
jprdy = pd.read_csv("../data/processed/clean_jeopardy_data.csv")
jprdy.head()

,Full Name,Final Score,Occupation,Hometown,Date,answer_number,dt_indx,favorite_count,retweet_count,anecdote,...,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
0,Jason Zuffranieri,27600,a math teacher,"Albuquerque, New Mexico",2019-07-26,Answer3,1,23,2,A movie editor in France has a similar name to...,...,-106.6464,758523.0,1151,polygon,False,True,America/Denver,2,87121 87120 87123 87112 87113 87110 87111 8711...,1840019176
1,Jason Zuffranieri,4400,a math teacher,"Albuquerque, New Mexico",2019-07-25,Answer3,1,6,1,It took me seconds to 'win' a game of anti-chess.,...,-106.6464,758523.0,1151,polygon,False,True,America/Denver,2,87121 87120 87123 87112 87113 87110 87111 8711...,1840019176
2,Jason Zuffranieri,30000,a math teacher,"Albuquerque, New Mexico",2019-07-24,Answer3,1,8,3,"“In Mexico, I was mistaken for Nicolas Cage.”",...,-106.6464,758523.0,1151,polygon,False,True,America/Denver,2,87121 87120 87123 87112 87113 87110 87111 8711...,1840019176
3,Jason Zuffranieri,12400,a math teacher,"Albuquerque, New Mexico",2019-07-23,Answer3,1,5,0,My stuffed manatee is a comfort animal in my c...,...,-106.6464,758523.0,1151,polygon,False,True,America/Denver,2,87121 87120 87123 87112 87113 87110 87111 8711...,1840019176
4,Jason Zuffranieri,18600,a math teacher,"Albuquerque, New Mexico",2019-07-22,Answer3,1,6,0,I travel around the world playing Sudoku.,...,-106.6464,758523.0,1151,polygon,False,True,America/Denver,2,87121 87120 87123 87112 87113 87110 87111 8711...,1840019176

In [3]:
jprdy.Occupation = jprdy.Occupation.astype(str)

In [4]:
# lower and punctuation 
jprdy['job'] = jprdy['Occupation'].apply(lambda x: " ".join(x.lower() for x in x.split()))
jprdy['job'].head()
#jprdy['job'] = jprdy['job'].str.replace('[^\w\s]','')

0    a math teacher
1    a math teacher
2    a math teacher
3    a math teacher
4    a math teacher
Name: job, dtype: object

In [5]:
# stop words
stop = stopwords.words('english')
jprdy['job'] = jprdy['job'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
jprdy['job'].head()

0    math teacher
1    math teacher
2    math teacher
3    math teacher
4    math teacher
Name: job, dtype: object

In [6]:
# frequent words - maybe edit this manually
freq = pd.Series(' '.join(jprdy['job']).split()).value_counts()[:50]
freq = list(freq.index)
freq

['teacher',
 'student',
 'originally',
 'attorney',
 'manager',
 'school',
 'writer',
 'analyst',
 'professor',
 'engineer',
 'high',
 'editor',
 'graduate',
 'consultant',
 'assistant',
 'university',
 'professional',
 'director',
 'history',
 'senior',
 'ph.d.',
 'english',
 'stay-at-home',
 'librarian',
 'retired',
 'software',
 'grade',
 'specialist',
 'mom',
 'junior',
 'college',
 'coordinator',
 'officer',
 'science',
 'administrator',
 'data',
 'sports',
 'social',
 'law',
 'sophomore',
 'math',
 'music',
 'freshman',
 'research',
 'development',
 'developer',
 'executive',
 'bartender',
 'gambler',
 'associate']

In [7]:
jprdy['job'].nunique()

1319

In [8]:
jprdy['job_category'] = jprdy['job']

In [9]:
# update to simple defintions
# professor & teacher
jprdy.loc[jprdy['job'].str.contains('professor',regex=False), 'job_category'] = 'professor'
jprdy.loc[jprdy['job'].str.contains('teacher',regex=False), 'job_category'] = 'teacher'
jprdy.loc[jprdy['job'].str.contains('educator',regex=False), 'job_category'] = 'teacher'
jprdy.loc[jprdy['job'].str.contains('instructor',regex=False), 'job_category'] = 'teacher'
jprdy.loc[jprdy['job'].str.contains('lecturer',regex=False), 'job_category'] = 'teacher'

#law 
jprdy.loc[jprdy['job'].str.contains('lawyer',regex=False), 'job_category'] = 'lawyer'
jprdy.loc[jprdy['job'].str.contains('attorney',regex=False), 'job_category'] = 'attorney'
jprdy.loc[jprdy['job'].str.contains('judge',regex=False), 'job_category'] = 'lawyer'

#general
jprdy.loc[jprdy['job'].str.contains('consultant',regex=False), 'job_category'] = 'consultant'
jprdy.loc[jprdy['job'].str.contains('writer',regex=False), 'job_category'] = 'writer'
jprdy.loc[jprdy['job'].str.contains('analyst',regex=False), 'job_category'] = 'analyst'
jprdy.loc[jprdy['job'].str.contains('bartender',regex=False), 'job_category'] = 'bartender'
jprdy.loc[jprdy['job'].str.contains('engineer',regex=False), 'job_category'] = 'engineer'
jprdy.loc[jprdy['job'].str.contains('architect',regex=False), 'job_category'] = 'architect'
jprdy.loc[jprdy['job'].str.contains('journalist',regex=False), 'job_category'] = 'journalist'

#library
jprdy.loc[jprdy['job'].str.contains('librarian',regex=False), 'job_category'] = 'librarian'
jprdy.loc[jprdy['job'].str.contains('library',regex=False), 'job_category'] = 'librarian'

# 
jprdy.loc[jprdy['job'].str.contains('nurse',regex=False), 'job_category'] = 'nurse'
jprdy.loc[jprdy['job'].str.contains('author',regex=False), 'job_category'] = 'author'

# college jobs
jprdy.loc[jprdy['job'].str.contains('scientist',regex=False), 'job_category'] = 'scientist'
jprdy.loc[jprdy['job'].str.contains('research',regex=False), 'job_category'] = 'scientist'

# technician
jprdy.loc[jprdy['job'].str.contains('technician',regex=False), 'job_category'] = 'technician'
jprdy.loc[jprdy['job'].str.contains('lab tech',regex=False), 'job_category'] = 'technician'

# chef
jprdy.loc[jprdy['job'].str.contains('chef',regex=False), 'job_category'] = 'chef'

# student categories 
jprdy.loc[jprdy['job'].str.contains('freshman',regex=False), 'job_category'] = 'student'
jprdy.loc[jprdy['job'].str.contains('sophomore',regex=False), 'job_category'] = 'student'
jprdy.loc[jprdy['job'].str.contains('junior',regex=False), 'job_category'] = 'student'
jprdy.loc[jprdy['job'].str.contains('senior',regex=False), 'job_category'] = 'student'
jprdy.loc[jprdy['job'].str.contains('student',regex=False), 'job_category'] = 'student'
# grad students
jprdy.loc[jprdy['job'].str.contains('grad',regex=False), 'job_category'] = 'grad student'
jprdy.loc[jprdy['job'].str.contains('ph.d.',regex=False), 'job_category'] = 'grad student'
jprdy.loc[jprdy['job'].str.contains('ph.d',regex=False), 'job_category'] = 'grad student'

# parent / family 
jprdy.loc[jprdy['job'].str.contains('mom',regex=False), 'job_category'] = 'mom'

# advisor
jprdy.loc[jprdy['job'].str.contains('counselor',regex=False), 'job_category'] = 'advisor'
jprdy.loc[jprdy['job'].str.contains('advisor',regex=False), 'job_category'] = 'advisor'

# manager
jprdy.loc[jprdy['job'].str.contains('manager',regex=False), 'job_category'] = 'manager'
jprdy.loc[jprdy['job'].str.contains('executive',regex=False), 'job_category'] = 'manager'
jprdy.loc[jprdy['job'].str.contains('coordinator',regex=False), 'job_category'] = 'coordinator'
jprdy.loc[jprdy['job'].str.contains('director',regex=False), 'job_category'] = 'director'

# art 
jprdy.loc[jprdy['job'].str.contains('designer',regex=False), 'job_category'] = 'artist/designer'
jprdy.loc[jprdy['job'].str.contains('art',regex=False), 'job_category'] = 'artist/designer'

#specialist
jprdy.loc[jprdy['job'].str.contains('specialist',regex=False), 'job_category'] = 'specialist'

# volunteer
jprdy.loc[jprdy['job'].str.contains('volunteer',regex=False), 'job_category'] = 'volunteer'

# reporter
jprdy.loc[jprdy['job'].str.contains('newspaper',regex=False), 'job_category'] = 'reporter'
jprdy.loc[jprdy['job'].str.contains('reporter',regex=False), 'job_category'] = 'reporter'

# military officer
jprdy.loc[jprdy['job'].str.contains('naval officer',regex=False), 'job_category'] = 'military officer'
jprdy.loc[jprdy['job'].str.contains('u.s. air force',regex=False), 'job_category'] = 'military officer'
jprdy.loc[jprdy['job'].str.contains('u.s. navy',regex=False), 'job_category'] = 'military officer'
jprdy.loc[jprdy['job'].str.contains('army',regex=False), 'job_category'] = 'military officer'
jprdy.loc[jprdy['job'].str.contains('navy',regex=False), 'job_category'] = 'military officer'
jprdy.loc[jprdy['job'].str.contains('coast guard',regex=False), 'job_category'] = 'military officer'

# non profit
jprdy.loc[jprdy['job'].str.contains('nonprofit',regex=False), 'job_category'] = 'nonprofit'

# musicians
jprdy.loc[jprdy['job'].str.contains('music',regex=False), 'job_category'] = 'musician'

# doctors 
jprdy.loc[jprdy['job'].str.contains('doctor',regex=False), 'job_category'] = 'doctor'

# entrepreneur
jprdy.loc[jprdy['job'].str.contains('entrepreneur',regex=False), 'job_category'] = 'entrepreneur'

# Misc
jprdy.loc[jprdy['job'].str.contains('high school',regex=False), 'job_category'] = 'misc education'
jprdy.loc[jprdy['job'].str.contains('health',regex=False), 'job_category'] = 'misc health'
jprdy.loc[jprdy['job'].str.contains('government',regex=False), 'job_category'] = 'misc government'
jprdy.loc[jprdy['job'].str.contains('tax',regex=False), 'job_category'] = 'misc government'

# unemployed 
jprdy.loc[jprdy['job'].str.contains('retired',regex=False), 'job_category'] = 'unemployed'
jprdy.loc[jprdy['job'].str.contains('originally',regex=False), 'job_category'] = 'unemployed'
jprdy.loc[jprdy['job'].str.contains('stay-at-home',regex=False), 'job_category'] = 'unemployed'
jprdy.loc[jprdy['job'].str.contains('year-old',regex=False), 'job_category'] = 'unemployed'


## fill in all others with other

In [10]:
jprdy['job_category'].nunique()

353

In [11]:
jprdy

,Full Name,Final Score,Occupation,Hometown,Date,answer_number,dt_indx,favorite_count,retweet_count,anecdote,...,density,source,military,incorporated,timezone,ranking,zips,id,job,job_category
0,Jason Zuffranieri,27600,a math teacher,"Albuquerque, New Mexico",2019-07-26,Answer3,1,23,2,A movie editor in France has a similar name to...,...,1151,polygon,False,True,America/Denver,2,87121 87120 87123 87112 87113 87110 87111 8711...,1840019176,math teacher,teacher
1,Jason Zuffranieri,4400,a math teacher,"Albuquerque, New Mexico",2019-07-25,Answer3,1,6,1,It took me seconds to 'win' a game of anti-chess.,...,1151,polygon,False,True,America/Denver,2,87121 87120 87123 87112 87113 87110 87111 8711...,1840019176,math teacher,teacher
2,Jason Zuffranieri,30000,a math teacher,"Albuquerque, New Mexico",2019-07-24,Answer3,1,8,3,"“In Mexico, I was mistaken for Nicolas Cage.”",...,1151,polygon,False,True,America/Denver,2,87121 87120 87123 87112 87113 87110 87111 8711...,1840019176,math teacher,teacher
3,Jason Zuffranieri,12400,a math teacher,"Albuquerque, New Mexico",2019-07-23,Answer3,1,5,0,My stuffed manatee is a comfort animal in my c...,...,1151,polygon,False,True,America/Denver,2,87121 87120 87123 87112 87113 87110 87111 8711...,1840019176,math teacher,teacher
4,Jason Zuffranieri,18600,a math teacher,"Albuquerque, New Mexico",2019-07-22,Answer3,1,6,0,I travel around the world playing Sudoku.,...,1151,polygon,False,True,America/Denver,2,87121 87120 87123 87112 87113 87110 87111 8711...,1840019176,math teacher,teacher
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3145,Kirsten Albair,5999,a jeweler,"Caribou, Maine",2014-03-11,Answer2,2,1,2,I like my town.,...,37,polygon,False,True,America/New_York,3,04736,1840000145,jeweler,jeweler
3146,Tony Knechtges,200,an engineering manager,"Grafton, Ohio",2014-03-11,Answer1,3,1,2,I proposed on a beach.,...,492,polygon,False,True,America/New_York,3,44044,1840011590,engineering manager,manager
3147,Dawn Volmert,11401,a controller,"Troy, Missouri",2014-02-28,Answer1,3,1,1,I'm going to Haiti for orphans,...,599,polygon,False,True,America/Chicago,3,63379,1840010689,controller,controller
3148,Chris Sánchez,3598,a high school language arts teacher,"Chaparral, New Mexico",2014-02-27,Answer2,2,1,1,I coached girls' softball poorly.,...,95,polygon,False,False,America/Denver,3,88081,1840018050,high school language arts teacher,misc education
3149,Cameron Kim,10800,a senior at Duke University,"Riverview, Florida",2014-02-11,Answer1,3,14,8,I coach a Quidditch team.,...,736,polygon,False,False,America/New_York,3,33503 33569 33579 33578 33568,1840014158,senior duke university,student

In [12]:
job_count = jprdy.groupby('job_category')['Full Name'].agg(['count']).reset_index()
job_count = job_count.sort_values('count')
job_count.to_csv('../Data/job_count.csv', index = None, header=True) #Don't forget to add '.csv' at the end of the path

In [25]:
# attach job category counts

job_scores = jprdy.groupby(['job_category'])['Final Score'].agg(['sum']).reset_index()
job_scores.sort_values(by=['sum'], ascending=False, inplace=True)
job_scores.head(20)

                    job_category      sum
332                   unemployed  3705616
312                      student  3358368
152                 grad student  2133384
260  professional sports gambler  2009595
188                      manager  1838415
316                      teacher  1800289
32                      attorney  1671359
351                       writer  1666694
261                    professor  1357367
25               artist/designer  1298428
122                     engineer  1059543
205               misc education  1031618
18                       analyst   921132
79                    consultant   831209
184                    librarian   812287
213                     musician   617301
297                    scientist   601140
103                     director   449459
84                   coordinator   422493
307                   specialist   297209

In [26]:
avg_job_scores = jprdy.groupby(['job_category'])['Final Score'].agg(['mean']).reset_index()
avg_job_scores.sort_values(by=['mean'], ascending=False, inplace=True)
avg_job_scores.head(20)

                      job_category          mean
260    professional sports gambler  64825.645161
147                     freelancer  35400.000000
268                psychotherapist  31400.000000
252                           poet  26800.000000
340                   video editor  26099.333333
161              hospice physician  25950.000000
150                   geriatrician  25333.333333
162          hospital pediatrician  24121.000000
296              scientific editor  24000.000000
267                psychometrician  23600.000000
109       e-discovery professional  22949.000000
273                    puzzlemaker  22800.666667
8                    acupuncturist  22356.000000
291           school administrator  22000.000000
145              forklift operator  21699.500000
69       college admission officer  21500.000000
163     hotel desk reception clerk  21400.000000
300           small business owner  21266.333333
210      multiplatform copy editor  21000.000000
70   college program administrator  20500.000000

In [33]:
jprdy['games_played'] = jprdy.groupby('Full Name')['Full Name'].transform('count')

avg_job_scores = jprdy.groupby(['job_category','games_played'])['Final Score'].agg(['mean']).reset_index()
avg_job_scores.sort_values(by=['games_played','mean'], ascending=False, inplace=True)
avg_job_scores.head(15)

                    job_category  games_played          mean
362  professional sports gambler            31  64825.645161
439    supply chain professional            25  14070.809524
0     20-time jeopardy! champion            25  11176.500000
43               artist/designer            18  13825.666667
214                 grad student            13  16869.538462
309                     musician            13  14238.615385
42               artist/designer            12  21539.875000
131              currency trader            12  17129.833333
28                       analyst            12   9150.000000
174                     engineer            11  15991.000000
486                    volunteer            11  13845.272727
368                    professor            10  22000.000000
159                       editor            10  12798.600000
27                       analyst             9  21867.166667
85                          chef             9  21550.875000

In [14]:
# anything left with a one = misc
#jpdry.loc[:,'job_categoy' == NULL & ] =

In [19]:
# frequent words - maybe edit this manually
freq = pd.Series(' '.join(jprdy['job_category']).split()).value_counts()[:50]
freq = list(freq.index)
freq

['student',
 'unemployed',
 'grad',
 'manager',
 'attorney',
 'misc',
 'teacher',
 'writer',
 'education',
 'artist/designer',
 'engineer',
 'professor',
 'analyst',
 'librarian',
 'consultant',
 'professional',
 'director',
 'musician',
 'scientist',
 'editor',
 'assistant',
 'specialist',
 'coordinator',
 'gambler',
 'sports',
 'health',
 'officer',
 'administrator',
 'developer',
 'supply',
 'chain',
 'government',
 'lawyer',
 'physician',
 'social',
 'technician',
 'service',
 'journalist',
 'worker',
 'microbiologist',
 'software',
 'nonprofit',
 'owner',
 'volunteer',
 'administrative',
 'trader',
 'representative',
 'advisor',
 'currency',
 'military']

In [16]:
t = jprdy.job.unique()
list(t)
# if teacher = teacher 
# if freshman / sophomore / junior / senior = student

['math teacher',
 'graphic designer',
 'social media web writer',
 'editor writer',
 'freelance project manager',
 'editor',
 'musician grad student',
 'cocktail bartender',
 'administrative assistant',
 'journalist',
 'graphic designer teacher',
 'senior data engineer',
 'verbal identity consultant',
 'english teacher',
 'software engineer',
 'veterinary ophthalmologist',
 'international development researcher',
 'art director',
 'operations specialist',
 'technical services associate',
 'corporate strategy manager',
 'digital media specialist',
 'opera singer actor',
 'nonprofit fundraising operations manager',
 'compliance manager',
 'chief operations',
 'writer',
 'public defender',
 'education administrator',
 'energy engineer',
 'research editor',
 'nonprofit writer editor',
 'web developer',
 'film publicist',
 'academic director',
 'product demonstrator',
 'tutor',
 'law school professor administrator',
 'entertainment editor',
 'financial analyst originally',
 'ph.d. student architectural history',
 'academic librarian',
 'internal medicine physician originally',
 'business analyst',
 'business developer',
 '11-year-old',
 'attorney',
 'data scientist',
 'global health consultant',
 'teacher',
 'educational therapist',
 'writer producer',
 'retired ob-gyn physician',
 'novelist teacher',
 'librarian',
 'graduate student',
 'instructional designer',
 'school secretary',
 'high school english teacher',
 'accountant',
 'social worker',
 'project manager',
 'higher education administrator',
 'bookseller',
 'graduate student history',
 'software architect',
 'fiber artist',
 'product marketing manager',
 'technical project manager',
 'customer due-diligence specialist originally',
 'financial trader',
 'pr content manager',
 'user experience librarian',
 'social media specialist',
 'veterinarian',
 'college counselor',
 'private events manager',
 'sales manager',
 'anesthesiologist',
 'law clerk',
 'data analyst',
 'strategy consultant',
 'hr manager',
 'marketing specialist',
 'social media analyst',
 'high school spanish teacher',
 'artist',
 'loan coordinator',
 'actuary',
 'arts marketer',
 'consumer insights manager',
 'nonprofit manager',
 'law student',
 'personal assistant',
 'ph.d. candidate',
 'copywriter',
 'nonprofit co-founder leader originally',
 'laborer',
 'editor stay-at-home parent',
 'latent print examiner originally',
 'technical service manager',
 'major account manager originally',
 'marketing project manager',
 'marketing manager',
 'fund raising professional consultant',
 'actress writer',
 'analyst',
 'currency trader',
 'income tax specialist',
 'registered nurse',
 'tutor recreation facilitator',
 'university instructor',
 'marketing content manager',
 'ph.d. student computer science originally',
 'retail manager',
 'e-commerce blogger',
 'acupuncturist',
 'quality analyst',
 'police officer',
 'web product manager',
 'professor art history',
 'ap world history teacher',
 'database coordinator',
 'actor',
 'tax professional',
 'aerospace consultant',
 'forensic scientist',
 'math professor',
 'ph.d student',
 'principal',
 'computer programmer',
 'actor producer',
 'production coordinator',
 'nonprofit consultant',
 'program director',
 'composer',
 'attorney writer',
 'arts administrator',
 'history podcaster writer',
 'writer-actor',
 'bartender',
 'wine spirits distributor',
 'filmmaker',
 'film data coordinator',
 'management production assistant',
 'blogger',
 'immigration attorney',
 'freelance writer',
 'account manager',
 'writer editor',
 'music executive',
 'public education consultant',
 'audio engineer',
 'professor',
 'independent filmmaker',
 'social media producer',
 'lecturer',
 'graduate student teacher',
 'systems engineer',
 'graduate assistant',
 'writer director',
 'author educator',
 'ph. d. student computer science',
 'college professor writer',
 'interior architectural design student',
 'cellar hand',
 'playwright',
 'antiques dealer',
 'finance manager',
 'lawyer',
 'executive assistant',
 'trust officer',
 'community organizer',
 'comedy writer',
 'communications professional',
 'civil servant',
 'doctoral student',
 'digital consultant',
 'transportation planner',
 'economist',
 'retired computer consultant',
 'defense consultant navy reserve officer',
 'program analyst',
 'naval architect',
 'science policy fellow',
 'mba student',
 'music director pianist',
 'marketing writer',
 'podcast host',
 'nonprofit communications consultant',
 'elections administrator',
 'wine club concierge',
 'attorney editor',
 '8th grade science teacher',
 'sales analyst',
 'pro sports executive',
 'customer service representative',
 'accounting manager',
 'pediatric emergency medicine physician',
 'mental health counselor',
 'college student',
 'virologist',
 'catastrophe modeler',
 'certified massage therapist',
 'technical writer manager',
 '6th grade u.s. history language arts teacher',
 'musician',
 'student emergency room scribe',
 'coast guard helicopter mechanic originally',
 'community volunteer',
 'communications director',
 'senior',
 'merchandise planner',
 'intern physician',
 'painter handyman',
 'criminal & immigration defense lawyer',
 'academic advisor',
 'grad student navy reserve officer',
 'retired navy medical specialist',
 'operations administrator',
 'real estate marketer',
 'freshman columbia university',
 'legal secretary',
 'college geography instructor',
 'real estate attorney',
 'psychiatrist',
 'technical writer',
 'graduate student philosophy',
 'geophysicist',
 'nanny originally',
 'alcohol lawyer',
 'aspiring tv writer',
 'massage therapist',
 'engineer',
 'pastor',
 'retired technical editor',
 'valuation analyst',
 'college admissions counselor',
 'fragrance specialist',
 'performance manager',
 'senior risk analyst',
 'tequila tour manager',
 'graphic designer editor',
 'quality assurance coordinator',
 'public health doctor',
 'director communications',
 'retired u.s. navy captain astronaut',
 'editor graduate student public health',
 'ph.d. student originally',
 'user interface designer',
 'seventh grader',
 'student',
 'retired air traffic controller',
 'engineering ph.d. student',
 'handywoman gardener',
 'law school career counselor',
 'relationship manager',
 'software q.a. lead',
 'ph.d. student experimental pathology',
 'director semantic technology',
 'stay-at-home mom',
 'freelance writer editor',
 'software developer',
 'writer retail sales associate',
 'high school history teacher',
 'emergency room nurse',
 'operations manager',
 'middle school math teacher',
 'author',
 'auto repair shop service manager',
 'personal trainer',
 'renewable energy manager',
 'mathematician',
 'marketing strategy consultant',
 'high school history psychology teacher',
 'marketing associate',
 'graphic designer illustrator',
 'home & family manager',
 'developer consultant',
 'office manager',
 'medical student',
 'restaurant owner',
 'color scientist',
 'retired teacher',
 'music librarian',
 'university professor',
 'volunteer storyteller',
 'junior',
 'middle school civics world history teacher',
 'programmer',
 'regional human resources manager',
 'appellate attorney',
 'criminal defense attorney',
 'political science professor',
 'writer mom',
 'eighth grader',
 'inside sales engineer originally',
 'freshman',
 'operations support specialist',
 'family medical physician',
 'corporate tax attorney',
 'legal consultant',
 'i.t. support specialist',
 'retail sales associate',
 'clinical psychologist',
 'research chemist originally',
 'high school athletic director',
 'media strategist',
 'claims examiner',
 'purchasing manager',
 'public radio reporter',
 'army public affairs chief originally',
 'english professor',
 'sophomore',
 'middle school english teacher',
 'music teacher',
 'forklift operator',
 'high school teacher',
 'policy researcher advisor',
 'high school esl teacher',
 'management consultant',
 'multiplatform copy editor',
 'taxonomist',
 'graduate student psychology',
 'graduate student chemical engineering',
 '10th grade chemistry teacher',
 'behavior analyst',
 'junior stanford university',
 'portfolio manager',
 'science content developer',
 'managing director art bazaar',
 'country western dance instructor',
 'water exercise instructor',
 'digital marketer originally',
 'engineer originally',
 'learning architect',
 'history student',
 'professional sports gambler',
 'retired postal clerk',
 'law student originally',
 'i.t. security architect',
 'film student originally',
 'retired actor',
 'senior research engineer',
 'sports industry consultant',
 'speechwriter',
 'stay-at-home dad lawyer',
 'm.d. ph.d. student',
 'business owner',
 'archivist',
 'curriculum development program manager',
 'tax attorney',
 'sophomore macalester college',
 'architect',
 'educator',
 'ph.d. student football analyst',
 'housewife',
 'grant writer',
 'physician',
 'patent attorney',
 'senior legislative aide originally',
 'architectural project manager',
 'instructional designer curriculum developer',
 'family physician',
 'biologist',
 'therapeutic humorist',
 'library science graduate student',
 'financial planner',
 'retired database administrator',
 'product manager',
 'chemical engineer',
 'development assistant data analyst',
 'investment professional',
 'fashion buyer',
 'consultant',
 'scientist',
 'advertiser account representative',
 'tutor musician',
 'housekeeper freelance copy editor',
 'retired professor',
 'criminal defense lawyer',
 'retired management consultant',
 'history instructor',
 'esl teacher',
 '10th grade english teacher',
 'retailer',
 'high school ap language teacher',
 'k-12 school administrator',
 'technology consultant',
 'nonprofit finance professional',
 'assistant office manager',
 'finance analyst',
 'psychologist',
 'teaching artist',
 'business technology consultant',
 'museum education manager',
 'editorial assistant',
 'private investor',
 'journalism professor',
 'communications manager',
 'early childhood educator',
 'human rights officer',
 'investment banking analyst',
 'university literature instructor',
 'literary agent',
 'research analyst',
 'video producer',
 'archaeologist foundation executive director',
 'financial analyst',
 'direct service provider',
 'english instructor administrator',
 'administrator',
 'policy research director',
 'graduate student clinical psychology',
 'digital fashion editor',
 'store planner',
 'office manager student',
 'entertainment news editor',
 'compliance executive',
 'economic development professional',
 'arts editor reporter',
 'communications specialist',
 'physical therapist',
 'opera producer',
 'freelance associate casting director',
 'video editor',
 'travel media editor',
 'actor grants analyst',
 'advertising executive originally',
 'high school administrator',
 'dancer',
 'social media editor',
 'health aide',
 'corporate intelligence analyst',
 'compliance analyst',
 'rabbi',
 'entertainment litigation attorney',
 'associate professor political science',
 'stay-at-home mom originally',
 'retired railroad analyst',
 'high school world history teacher',
 'resident physician',
 'management analyst',
 '11th grade physics teacher',
 'middle school instrumental music teacher',
 'high school art teacher',
 'middle school special education teacher',
 'freelance political consultant',
 'bioscience ph.d. program applicant',
 'high school world history u.s. government teacher',
 'rock musician',
 'equity analyst',
 'research scientist',
 'e-discovery professional',
 'public interest attorney',
 'proposal writer',
 'pediatric nurse practitioner student',
 'library volunteer coordinator',
 '12th grade english language arts teacher',
 'airline pilot',
 'bookkeeper',
 'realtor stay-at-home mom',
 'public transportation consultant',
 "women's health nurse practitioner",
 'data analytics manager',
 'retired lawyer software developer',
 'theater artist',
 'realtor',
 'management consultant originally',
 'data engineer',
 'i.t. consultant',
 'poet',
 'manager corporate foundation relations music school',
 'business systems analyst',
 'resale store manager',
 'aquatic veterinarian',
 'payroll professional',
 'humanities professor',
 'i.t. manager originally',
 'dj music journalist',
 'bus driver trainer',
 'door person',
 'financial risk consultant',
 'nonprofit administrator',
 'commercial real estate broker',
 'travel agent',
 'newspaper editor reporter',
 'utility locator',
 'cell biologist',
 'graduate student instructor',
 'art historian college professor',
 'study-abroad advisor originally',
 'graduate student law social work',
 'public affairs manager',
 'law librarian',
 'ergonomist',
 'high school latin teacher',
 'curriculum designer originally',
 'theoretical physicist',
 'homemaker',
 'tour guide',
 'social security administration attorney',
 'organization development consultant',
 'environmental lawyer',
 'instructional design consultant',
 'associate teaching professor',
 'language specialist',
 'space policy analyst originally',
 'architect originally',
 'freelancer',
 'freshman tufts university',
 'accounting professor',
 'kindergarten teacher',
 'botanical artist',
 'regulatory research counsel',
 'technical engineer',
 'mechanical engineer',
 'quality control specialist',
 'children’s librarian',
 'senior finance manager',
 'biomedical scientist',
 'real estate agent',
 'senior sales manager',
 'structural engineer',
 'compliance technician',
 'former attorney',
 'history economics teacher',
 'history educator',
 'pharmacist',
 'journalist documentary producer',
 'policy analyst originally',
 'substitute teacher',
 'medical records coder',
 'marketing executive',
 'physician health care analyst',
 'retired police officer',
 'ph.d. student',
 'author administrative assistant',
 'reference librarian',
 'board game designer',
 'retail store owner',
 'archivist originally',
 'market research analyst originally',
 'store manager',
 'director analytics',
 'creative director',
 'health safety professional',
 'actuarial consultant',
 'investment analyst',
 'subrights assistant',
 'linguist language columnist',
 'history professor',
 'grants manager',
 'content editor',
 'informal educator',
 'junior university virginia',
 'flight attendant',
 'environmental compliance manager',
 'media consultant',
 'layout artist',
 'strategy business development executive',
 'construction attorney',
 'college program administrator',
 'growth marketer',
 'biomedical engineer',
 'foreign service officer',
 'program manager',
 'elementary school administrator',
 'semi-retired educator',
 'communications executive',
 'scoring director',
 'writer originally',
 '12-year-old',
 'government secretary',
 'budget analyst',
 'think tank researcher',
 'administrator female-centric website',
 'business technology integration consultant',
 'academic competition director',
 'sophomore swarthmore college',
 'editor academic competitions',
 'professor public health bioethics',
 'home health aide',
 'attorney government relations professional',
 'trademark attorney',
 'library assistant',
 'environmental scientist',
 'education consultant',
 'sales support specialist',
 'consulting engineer',
 'naval officer',
 'science writer',
 'government contractor',
 'assistant professor',
 'environmental engineer consultant',
 'retired federal employee',
 'post-graduate student',
 'landscaper',
 'assistant editor',
 'vegan cheesemaker',
 'controls engineer',
 'operations logistics manager',
 'hotel front desk manager',
 'healthcare analyst',
 'environmental engineer',
 'accountant mom',
 'director compensation',
 'montessori teacher',
 'family practice physician',
 'sophomore university california',
 'senior louisiana state university',
 'supply chain analyst',
 'paralegal',
 'sophomore university oklahoma',
 'stock analyst',
 'business developer originally',
 'junior university oklahoma',
 'microbiologist',
 'wildlife technician',
 'research associate',
 'nan',
 'retired technical trainer',
 "children's librarian",
 'salesman',
 'food truck owner',
 'art education student',
 'gas turbine repair operations manager',
 'radiologist',
 'student writer',
 'nonprofit communications professional',
 'robotics ph.d. student mit',
 'senior mit',
 'former writer high school english teacher',
 'leadership trainer',
 'health care consultant',
 'hospice physician',
 'marketing strategist',
 'pediatrician',
 'proposal manager',
 'english instructor',
 'medical doctoral student',
 'senior computer science researcher',
 'museum docent originally',
 'government law librarian',
 'operations analyst',
 'chef',
 'database administrator',
 'retired cpa',
 'scrummaster',
 'retired pathologist',
 'bond analyst',
 'freshman nyu',
 'hospital pediatrician',
 'risk manager',
 'neuroscientist',
 'consultant rideshare driver',
 'junior university southern california',
 'freshman brown university',
 'museum curator',
 'middle school band director',
 'director religious education',
 'historical interpreter',
 'organic farmer',
 'chef originally',
 'ph.d. candidate epidemiology',
 'school service assistant',
 'dentist',
 'technical support analyst',
 'm.d.-ph.d. student',
 'teacher learning support specialist',
 'doctoral candidate anthropology',
 'university librarian',
 'professor management',
 'broadcast journalist',
 'college professor',
 'customer service manager',
 'portable restroom service technician',
 'pediatric dentist',
 'art dealer',
 'senior managing editor',
 'telemetry technician',
 'marketing coordinator',
 'university administrator',
 'scholarship program director',
 'elementary school counselor',
 'classical singer',
 'healthcare data analyst',
 'commercial photographer',
 'investment banker strategy consultant',
 'project coordinator',
 'ph.d. student physics originally',
 'business strategist',
 'relationship marketing specialist stay-at-home mom',
 'rehabilitation specialist',
 'aerospace engineer',
 'homeschool mom',
 'engineering manager',
 'lab technician',
 'engineering graduate student',
 'law professor',
 'medical technologist',
 'chemical engineer consulting renewable energy',
 'theater director',
 'medical device engineer',
 'writer/editor',
 'healthcare consultant',
 'teacher librarian',
 'puzzlemaker',
 'social studies teacher',
 'strategic communications associate',
 'software development manager',
 'museum development assistant',
 'pastor hospice chaplain',
 'proofreader virtual assistant',
 'high school principal',
 'college composition instructor',
 'asl interpreter',
 'nonprofit resource development specialist',
 'attorney originally',
 'writer comedian',
 'comptroller',
 'biology student',
 'college admission officer',
 'lighting designer',
 'astrophysicist',
 'director college research center',
 'restaurant manager originally',
 'high school english film studies teacher',
 'office assistant',
 'chef educator',
 'newspaper reporter',
 'stay-at-home dad',
 'medicare appeals coordinator',
 'violin viola teacher',
 '4th grade language arts teacher',
 'museum educator',
 'associate professor computer science',
 'internal customer service manager',
 'graduate student originally',
 'operations engineer',
 'medical lab scientist',
 'adventure travel writer',
 'production manager',
 'philanthropic advisor',
 'phd student',
 'student originally',
 'university honors program manager',
 'nonprofit executive director',
 'literature ph.d. student',
 'pastry chef',
 'retired business property manager',
 'copy editor',
 'director technology',
 'banker',
 'retired operations manager',
 'i.t. project manager',
 'writer musician',
 'administrative specialist',
 'assistant analyst',
 'senior columbia university',
 'cpa',
 'delivery driver part-time actor',
 'library youth services associate',
 'high school science teacher',
 'electrical engineer',
 '6th grade teacher',
 'retired adjunct professor',
 'clinical social worker',
 'tax accountant',
 'middle school humanities teacher',
 'firefighter',
 'researcher',

In [17]:
# non frequent
nonfreq = pd.Series(' '.join(jprdy['job']).split()).value_counts()[-20:]
nonfreq = list(nonfreq.index)
nonfreq

['licensing',
 'ball',
 'nuclear',
 'maintenance',
 'on-call',
 'taxonomist',
 'venture',
 'equipment',
 'portable',
 'truck',
 'd.',
 'geophysicist',
 'table',
 'pro',
 'm.b.a.',
 'podcaster',
 'radiologist',
 '7th',
 'housing',
 'delivery']

In [18]:
jeopardy_df['text5'] = jeopardy_df['text4'].apply(lambda x: " ".join(x for x in x.split() if x not in nonfreq))
jeopardy_df['text5'].head()

NameError: name 'jeopardy_df' is not defined

In [ ]:
# check spelling - doesn't work well
#from textblob import TextBlob
#jeopardy_df['text6'] = jeopardy_df['text5'].apply(lambda x: str(TextBlob(x).correct()))
# just create word vector
#jeopardy_df['text6'] = TextBlob(jeopardy_df['text5']).words

from nltk.stem import PorterStemmer
st = PorterStemmer()
jeopardy_df['text5'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

from textblob import Word
jeopardy_df['text6'] = jeopardy_df['text5'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
jeopardy_df['text6'].head()

TextBlob(jeopardy_df['text6'][0]).ngrams(2)
# scikit-learn api



# Clean text - spelling / jeopardy handles / additional words / etc.