## 020_gen_stats
### General Statistics and Graphics 
### James Wilson

In [2]:
# -*- coding: utf-8 -*-
import pandas as pd

In [3]:
# Load Data
jeopardy_df = pd.read_csv("../Data/clean_jeopardy_data.csv")
jeopardy_df.columns

Index(['Full Name', 'Final Score', 'Occupation', 'Hometown', 'Date',
       'answer_number', 'dt_indx', 'favorite_count', 'retweet_count',
       'anecdote', 'Gender', 'clean_text', 'city', 'state', 'gross_winnings',
       'city_ascii', 'state_id', 'state_name', 'county_fips', 'county_name',
       'county_fips_all', 'county_name_all', 'lat', 'lng', 'population',
       'density', 'source', 'military', 'incorporated', 'timezone', 'ranking',
       'zips', 'id'],
      dtype='object')

### General Analysis

In [47]:
contestants = jeopardy_df.groupby('Full Name')['Full Name'].agg(['count']).reset_index()
contestants.shape #1971
contestants.sort_values(by=['count'], ascending=False,inplace=True)
contestants
# chance of winning each following game aka streak

            Full Name  count
785   James Holzhauer     31
980     Julia Collins     25
186     Austin Rogers     18
1732      Seth Wilson     13
297       Buzzy Cohen     13
...               ...    ...
997      Julie Stapel      1
996   Julie Sesnovich      1
995        Julie Roth      1
994     Julie Hornick      1
0         Aaron Benor      1

[1971 rows x 2 columns]

In [44]:
jeopardy_df['Date'].min() # '2012-10-24'
jeopardy_df['Date'].max() # '2019-07-26'

'2012-10-24'

In [25]:
town = jeopardy_df.groupby('Hometown')['Full Name'].agg(['count']).reset_index()
town.sort_values(by=['count'], ascending=False,inplace=True)
town.to_csv('../Data/state_counts.csv', index = None, header=True) 
town[town.loc[:,'count']==1].shape[0]/town.shape[0]
# 51% of contestants are unique to their hometown

### State Counts

In [3]:
state_counts = jeopardy_df.groupby('state')['Full Name'].agg(['count']).reset_index()
state_counts.sort_values(by=['count'], ascending=False,inplace=True)
state_counts.head(25)

NameError: name 'jeopardy_df' is not defined

In [4]:
import plotly.express as px
fig = px.bar(state_counts, x='state', y='count',color='count',
             labels={'state':'State', 'count':"Count"}, height=400)
fig.show()

NameError: name 'state_counts' is not defined

In [59]:
# State Winnings 
state_rev_counts = jeopardy_df.groupby('state')['Final Score'].agg(['sum']).reset_index()
state_rev_counts.sort_values(by=['sum'], ascending=False,inplace=True)
state_rev_counts.head(20)

             state      sum
4       California  4146467
31        New York  3535484
12        Illinois  2632378
27          Nevada  2080595
37    Pennsylvania  1807376
42           Texas  1658234
34            Ohio  1590595
45        Virginia  1513279
9          Georgia  1454691
8          Florida  1402695
19        Maryland  1368451
5         Colorado  1308877
20   Massachusetts  1197310
46      Washington  1076890
32  North Carolina  1068624
21        Michigan  1018890
29      New Jersey   717294
41       Tennessee   691402
24        Missouri   636296
36          Oregon   616597

In [60]:
# Graph State Winnings

In [12]:
# jeopardy statistics 
jeopardy_df.Gender.value_counts()

male             1354
female           1171
unknown           231
mostly_male       185
mostly_female     176
andy               33
Name: Gender, dtype: int64

In [15]:
# review streaks of contestants