## 030_nlp_txt_bt
### NLP and Text Bot 
### James Wilson

In [8]:
# -*- coding: utf-8 -*-
import pandas as pd
import re
import nltk
from nltk.corpus import stopwords

In [9]:
# Load Data
jeopardy_df = pd.read_csv("../Data/clean_jeopardy_data.csv")
jeopardy_df.head()

,Full Name,Final Score,Occupation,Hometown,Date,answer_number,dt_indx,favorite_count,retweet_count,anecdote,clean_text,city,state
0,Jason Zuffranieri,27600,a math teacher,"Albuquerque, New Mexico",2019-07-26,Answer3,1,23,2,A movie editor in France has a similar name to...,A movie editor in France has a similar name to...,Albuquerque,New Mexico
1,Maggie Lehrman,0,an editor and writer,"Brooklyn, New York",2019-07-26,Answer2,2,23,2,The children's' book industry is phenomenal.,The childrens book industry is phenomenal.,Brooklyn,New York
2,Michael Riggs,2,an educational therapist,"Tustin, California",2019-07-26,Answer1,3,23,2,My medical school interview was with a @Jeopar...,My medical school interview was with a Jeopard...,Tustin,California
3,Jason Zuffranieri,4400,a math teacher,"Albuquerque, New Mexico",2019-07-25,Answer3,1,6,1,It took me seconds to 'win' a game of anti-chess.,It took me seconds to win a game of anti-chess.,Albuquerque,New Mexico
4,Eric Kaplan,0,a retired OB-GYN physician,"Long Beach, California",2019-07-25,Answer2,2,6,1,Chuck Norris' aunt thought I looked justl ike ...,Chuck Norris aunt thought I looked just like him.,Long Beach,California

In [4]:
# lower and punctuation 
#jeopardy_df['text1'] = jeopardy_df['anecdote'].apply(lambda x: " ".join(x.lower() for x in x.split()))
#jeopardy_df['text1'].head()
#jeopardy_df['text1'] = jeopardy_df['text'].str.replace('[^\w\s]','')

# stop words
stop = stopwords.words('english')
jeopardy_df['text3'] = jeopardy_df['text2'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))

# frequent words - maybe edit this manually
freq = pd.Series(' '.join(jeopardy_df['text3']).split()).value_counts()[:20]
freq = list(freq.index)
jeopardy_df['text4'] = jeopardy_df['text3'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))

# non frequent
nonfreq = pd.Series(' '.join(jeopardy_df['text4']).split()).value_counts()[-10:]
nonfreq = list(nonfreq.index)
jeopardy_df['text5'] = jeopardy_df['text4'].apply(lambda x: " ".join(x for x in x.split() if x not in nonfreq))
jeopardy_df['text5'].head()

NameError: name 'stopwords' is not defined

In [ ]:
# check spelling - doesn't work well
from textblob import TextBlob
#jeopardy_df['text6'] = jeopardy_df['text5'].apply(lambda x: str(TextBlob(x).correct()))
# just create word vector
#jeopardy_df['text6'] = TextBlob(jeopardy_df['text5']).words

from nltk.stem import PorterStemmer
st = PorterStemmer()
jeopardy_df['text5'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

from textblob import Word
jeopardy_df['text6'] = jeopardy_df['text5'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
jeopardy_df['text6'].head()

TextBlob(jeopardy_df['text6'][0]).ngrams(2)
# scikit-learn api



# Clean text - spelling / jeopardy handles / additional words / etc.

In [ ]:
tweets = list(jeopardy_df['clean_text'])

## USING TEXTGENRNN
from textgenrnn import textgenrnn
textgen = textgenrnn()
textgen.train_on_texts(tweets, num_epochs = 10)
textgen.generate(10)

Using TensorFlow backend.

WARNING:tensorflow:From C:\Users\jwilson2\AppData\Local\Continuum\anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From C:\Users\jwilson2\AppData\Local\Continuum\anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From C:\Users\jwilson2\AppData\Local\Continuum\anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:174: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From C:\Users\jwilson2\AppData\Local\Continuum\anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:181: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From C:\Users\jwilson2\AppData\Local\Continuum\anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:186: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

WARNING:tensorflow:From C:\Users\jwilson2\AppData\Local\Continuum\anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:190: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From C:\Users\jwilson2\AppData\Local\Continuum\anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:199: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From C:\Users\jwilson2\AppData\Local\Continuum\anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:206: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

WARNING:tensorflow:From C:\Users\jwilson2\AppData\Local\Continuum\anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From C:\Users\jwilson2\AppData\Local\Continuum\anaconda3\lib\site-packages\keras\optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From C:\Users\jwilson2\AppData\Local\Continuum\anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:3295: The name tf.log is deprecated. Please use tf.math.log instead.

Training on 138,815 character sequences.
WARNING:tensorflow:From C:\Users\jwilson2\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow_core\python\ops\math_grad.py:1424: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From C:\Users\jwilson2\AppData\Local\Continuum\anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:986: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From C:\Users\jwilson2\AppData\Local\Continuum\anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:973: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

Epoch 1/10
 278/1084 [======>.......................] - ETA: 8:55 - loss: 1.7686